/* =========================
   全体
========================= */
body {
  margin: 0;
  padding: 0;
}

/* =========================
   メインレイアウト
========================= */

/* サイドバー220pxを避けて中央配置 */
.main-center {
  margin-left: 220px;
  width: calc(100% - 220px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* タイトル */
h1 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 150px;
    border-bottom: 2px solid #FFD700;
    display: inline-block;
    padding-bottom: 6px;
    position: relative;
    top: 120px;
}

/* =========================
   検索フォーム
========================= */
.search-form {
  width: 95%;
  max-width: 1000px;
  text-align: center;
  margin-bottom: 20px;
}

/* =========================
    テーブル
========================= */
.reserve-table {
  width: 95%;
  max-width: 1000px;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #333;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.15);
}

.reserve-table th {
  background: #222;
  color: #FFD700;
  padding: 12px;
  border-bottom: 1px solid #333;
}

.reserve-table td {
  background: #222;
  color: #fff;
  padding: 12px;
  border-bottom: 1px solid #333;
  text-align: center;
}

.reserve-table tr:hover td {
  background: rgba(255, 215, 0, 0.08);
}
